<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://fir-restapi-e2ff4-default-rtdb.firebaseio.com/</string>
	<key>CLIENT_ID</key>
	<string>126202246535-h5us5lv02a8ti0snii5146dakt60l698.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126202246535-h5us5lv02a8ti0snii5146dakt60l698</string>
	<key>API_KEY</key>
	<string>AIzaSyCaGN7t4QpBa49vzNyP5mOVbbpc3N7amf0</string>
	<key>GCM_SENDER_ID</key>
	<string>126202246535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirebaseRESTAPI</string>
	<key>PROJECT_ID</key>
	<string>fir-restapi-e2ff4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-restapi-e2ff4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:126202246535:ios:f2e5e6a1d9f136464dcf22</string>
</dict>
</plist>
